In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
import seaborn as sns
from sqlalchemy import create_engine

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'studentsperformance'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'
                      .format(postgres_user, postgres_pw, postgres_host,
                             postgres_port, postgres_db))

df = pd.read_sql_query('SELECT * FROM studentsperformance', con=engine)

engine.dispose()

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

1. Are there any differences between the genders, ethnicities, and parental level of education with respect to their performances in exams?

In [4]:
gender_grp = df.groupby('gender').mean()
gender_grp

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [5]:
scores = ['math score', 'reading score', 'writing score']
df_f = df.loc[df['gender'] == 'female']
df_m = df.loc[df['gender'] == 'male']

for i in scores:
    print(i, ttest_ind(df_f[i], df_m[i]))

math score Ttest_indResult(statistic=-5.383245869828983, pvalue=9.120185549328822e-08)
reading score Ttest_indResult(statistic=7.959308005187657, pvalue=4.680538743933289e-15)
writing score Ttest_indResult(statistic=9.979557910004507, pvalue=2.019877706867934e-22)

In [6]:
eth_grp = df.groupby('race/ethnicity').mean()
eth_grp

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143

In [57]:
groups = df['race/ethnicity'].unique()
scores = ['math score', 'reading score', 'writing score']
for i in scores:
    print('----------')
    print('Comparisons for {}'.format(i))
    print('----------')
    for j in range(0,len(groups)):
        for k in range(j+1,len(groups)):
            df_1 = df.loc[df['race/ethnicity']==groups[j]][i] 
            df_2 = df.loc[df['race/ethnicity']==groups[k]][i] 
            print(groups[j]+' vs '+groups[k])
            print(ttest_ind(df_1,df_2))

----------
Comparisons for math score
----------
group B vs group C
Ttest_indResult(statistic=-0.7315669893534263, pvalue=0.4647708939167453)
group B vs group A
Ttest_indResult(statistic=0.9355076279747488, pvalue=0.3503415961659957)
group B vs group D
Ttest_indResult(statistic=-2.82845539712675, pvalue=0.0048861971371041936)
group B vs group E
Ttest_indResult(statistic=-6.007397050552227, pvalue=5.00794604749797e-09)
group C vs group A
Ttest_indResult(statistic=1.5997220303217299, pvalue=0.11043810745588041)
group C vs group D
Ttest_indResult(statistic=-2.41858624746011, pvalue=0.015888349556016285)
group C vs group E
Ttest_indResult(statistic=-6.127642520822135, pvalue=1.927238849552764e-09)
group A vs group D
Ttest_indResult(statistic=-3.3466982429712298, pvalue=0.0009068636053543751)
group A vs group E
Ttest_indResult(statistic=-5.936141025544798, pvalue=1.083559122656415e-08)
group D vs group E
Ttest_indResult(statistic=-4.282287214674715, pvalue=2.3187640326715042e-05)
----------
Comparisons for reading score
----------
group B vs group C
Ttest_indResult(statistic=-1.3223156212901772, pvalue=0.1866592809035069)
group B vs group A
Ttest_indResult(statistic=1.3633682262027682, pvalue=0.1738735513443721)
group B vs group D
Ttest_indResult(statistic=-1.9451563636864795, pvalue=0.0523786206559701)
group B vs group E
Ttest_indResult(statistic=-3.386066945409153, pvalue=0.0007951618495240944)
group C vs group A
Ttest_indResult(statistic=2.575432218066352, pvalue=0.010364398025471077)
group C vs group D
Ttest_indResult(statistic=-0.7970109316408917, pvalue=0.425771382113019)
group C vs group E
Ttest_indResult(statistic=-2.7133018645371685, pvalue=0.0069132842804986595)
group A vs group D
Ttest_indResult(statistic=-3.0468548573461187, pvalue=0.002488654464332207)
group A vs group E
Ttest_indResult(statistic=-4.071106227981414, pvalue=6.463395931833849e-05)
group D vs group E
Ttest_indResult(statistic=-2.0106479406031794, pvalue=0.045033306431345586)
----------
Comparisons for writing score
----------
group B vs group C
Ttest_indResult(statistic=-1.5964963433740407, pvalue=0.1110010959814519)
group B vs group A
Ttest_indResult(statistic=1.4624420577998105, pvalue=0.14475374198993884)
group B vs group D
Ttest_indResult(statistic=-3.19929333232526, pvalue=0.0014749978881319053)
group B vs group E
Ttest_indResult(statistic=-3.3831978345244518, pvalue=0.0008032300486353951)
group C vs group A
Ttest_indResult(statistic=2.848872404992454, pvalue=0.004610690740740428)
group C vs group D
Ttest_indResult(statistic=-1.8896631516726248, pvalue=0.059302329187082094)
group C vs group E
Ttest_indResult(statistic=-2.3502811868359177, pvalue=0.019183539018898285)
group A vs group D
Ttest_indResult(statistic=-4.1556316361449195, pvalue=4.084805733969806e-05)
group A vs group E
Ttest_indResult(statistic=-4.2234736631970105, pvalue=3.483278064499439e-05)
group D vs group E
Ttest_indResult(statistic=-0.8239736571520918, pvalue=0.4104455517392258)

In [58]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [61]:
parent_ed = df['parental level of education'].unique()
scores = ['math score', 'reading score', 'writing score']

In [65]:
for i in scores:
    print('---------')
    print('{} comparisons'.format(i))
    print('---------')
    for j in range(0,len(parent_ed)):
        for k in range(j+1, len(parent_ed)):
            df_a = df.loc[df['parental level of education'] == parent_ed[j]][i]
            df_b = df.loc[df['parental level of education'] == parent_ed[k]][i]
            print('{} vs {}'.format(parent_ed[j], parent_ed[k]))
            print(ttest_ind(df_a, df_b))

---------
math score comparisons
---------
bachelor's degree vs some college
Ttest_indResult(statistic=1.3702352829617477, pvalue=0.17151224218471559)
bachelor's degree vs master's degree
Ttest_indResult(statistic=-0.14868196568849312, pvalue=0.8819757824867702)
bachelor's degree vs associate's degree
Ttest_indResult(statistic=0.8786641889793243, pvalue=0.38020757818036177)
bachelor's degree vs high school
Ttest_indResult(statistic=4.236143622484822, pvalue=2.9965345853843372e-05)
bachelor's degree vs some high school
Ttest_indResult(statistic=3.196718602676573, pvalue=0.0015409192922812146)
some college vs master's degree
Ttest_indResult(statistic=-1.2356334215824571, pvalue=0.21761956810347416)
some college vs associate's degree
Ttest_indResult(statistic=-0.5426842696247527, pvalue=0.5876182809234072)
some college vs high school
Ttest_indResult(statistic=3.5461079495681163, pvalue=0.0004349800419245315)
some college vs some high school
Ttest_indResult(statistic=2.4117046231407633, pvalue=0.016324361572645503)
master's degree vs associate's degree
Ttest_indResult(statistic=0.8411229688563471, pvalue=0.4009993636124658)
master's degree vs high school
Ttest_indResult(statistic=3.4893759321890823, pvalue=0.000570929230228812)
master's degree vs some high school
Ttest_indResult(statistic=2.6442572081925526, pvalue=0.008736228790471057)
associate's degree vs high school
Ttest_indResult(statistic=3.9481325318265013, pvalue=9.247314274963043e-05)
associate's degree vs some high school
Ttest_indResult(statistic=2.820053979930256, pvalue=0.005041081492906143)
high school vs some high school
Ttest_indResult(statistic=-0.8640629490772553, pvalue=0.3881086103606871)
---------
reading score comparisons
---------
bachelor's degree vs some college
Ttest_indResult(statistic=2.2048821209085077, pvalue=0.028127555314401052)
bachelor's degree vs master's degree
Ttest_indResult(statistic=-1.0540858949475984, pvalue=0.293296751317879)
bachelor's degree vs associate's degree
Ttest_indResult(statistic=1.2977969850452833, pvalue=0.19524206483091092)
bachelor's degree vs high school
Ttest_indResult(statistic=5.017577900835298, pvalue=8.804250310784476e-07)
bachelor's degree vs some high school
Ttest_indResult(statistic=3.4039270673798745, pvalue=0.0007561971719730451)
some college vs master's degree
Ttest_indResult(statistic=-2.888843374950649, pvalue=0.004165440800640355)
some college vs associate's degree
Ttest_indResult(statistic=-1.11231882169149, pvalue=0.26660028539980146)
some college vs high school
Ttest_indResult(statistic=3.4578427683620334, pvalue=0.0006001048481252139)
some college vs some high school
Ttest_indResult(statistic=1.714161972758909, pvalue=0.08726786856243877)
master's degree vs associate's degree
Ttest_indResult(statistic=2.1912015759838686, pvalue=0.02926414570972208)
master's degree vs high school
Ttest_indResult(statistic=5.113158728723477, pvalue=6.257558119816884e-07)
master's degree vs some high school
Ttest_indResult(statistic=3.7261574122231513, pvalue=0.00024334552617191507)
associate's degree vs high school
Ttest_indResult(statistic=4.538021419898997, pvalue=7.442167797135797e-06)
associate's degree vs some high school
Ttest_indResult(statistic=2.7183602204037927, pvalue=0.006846770119677965)
high school vs some high school
Ttest_indResult(statistic=-1.461284757591555, pvalue=0.1447791955248275)
---------
writing score comparisons
---------
bachelor's degree vs some college
Ttest_indResult(statistic=2.6803314684632196, pvalue=0.00771101202367254)
bachelor's degree vs master's degree
Ttest_indResult(statistic=-0.9998741306804844, pvalue=0.3187519641464658)
bachelor's degree vs associate's degree
Ttest_indResult(statistic=2.1159296639133762, pvalue=0.03508162451719667)
bachelor's degree vs high school
Ttest_indResult(statistic=6.547380937127048, pvalue=2.4076253789515874e-10)
bachelor's degree vs some high school
Ttest_indResult(statistic=4.667733097498242, pvalue=4.628198526834338e-06)
some college vs master's degree
Ttest_indResult(statistic=-3.1687690632394907, pvalue=0.0016985933135959495)
some college vs associate's degree
Ttest_indResult(statistic=-0.7615968643953912, pvalue=0.44670316603036564)
some college vs high school
Ttest_indResult(statistic=4.488520877492127, pvalue=9.275017802620875e-06)
some college vs some high school
Ttest_indResult(statistic=2.5757211403792417, pvalue=0.01035852908608136)
master's degree vs associate's degree
Ttest_indResult(statistic=2.78124154906855, pvalue=0.0057840327052577495)
master's degree vs high school
Ttest_indResult(statistic=6.360904883721531, pvalue=9.32693029688033e-10)
master's degree vs some high school
Ttest_indResult(statistic=4.707583817143559, pvalue=4.2754651530746305e-06)
associate's degree vs high school
Ttest_indResult(statistic=5.348725635626432, pvalue=1.4650545536741998e-07)
associate's degree vs some high school
Ttest_indResult(statistic=3.3317223453475715, pvalue=0.0009435990258795855)
high school vs some high school
Ttest_indResult(statistic=-1.5838885273076473, pvalue=0.11406653932963287)

2. Are there any differences between the lunch types with respect to their performances in exams? If there are, how do you explain this?

In [66]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [73]:
df.groupby('lunch').mean()

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256

In [72]:
lunch = df['lunch'].unique()
scores = ['math score', 'reading score', 'writing score']

for i in scores:
    print('------')
    print(i)
    print('------')
    df_a = df.loc[df['lunch'] == 'standard'][i]
    df_b = df.loc[df['lunch'] == 'free/reduced'][i]
    print(ttest_ind(df_a,df_b))

------
math score
------
Ttest_indResult(statistic=11.837180472914612, pvalue=2.4131955993137074e-30)
------
reading score
------
Ttest_indResult(statistic=7.451056467473455, pvalue=2.0027966545279011e-13)
------
writing score
------
Ttest_indResult(statistic=8.009784197834758, pvalue=3.1861895831664765e-15)

There are differences in scores based on the type of lunch a student has. It is unlikely that the lunch itself is responsible for the difference in testing scores. It is far more likely that there are unaccounted for variables that correlate with being unable to have a standard lunch. For example, families which have less income may struggle more, may have more stress and may not be able to support a healthy lifestyle for the student. The lunch the student has may be a proxy indicator of these background issues that are not accounted for in our data which could lead to lower test scores.

3. Does the test preparation course seem to have an effect on the exam performances?

In [76]:
df['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [77]:
df.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

In [78]:
lunch = df['test preparation course'].unique()
scores = ['math score', 'reading score', 'writing score']

for i in scores:
    print('------')
    print(i)
    print('------')
    df_a = df.loc[df['test preparation course'] == 'none'][i]
    df_b = df.loc[df['test preparation course'] == 'completed'][i]
    print(ttest_ind(df_a,df_b))

------
math score
------
Ttest_indResult(statistic=-5.704616417349102, pvalue=1.5359134607147415e-08)
------
reading score
------
Ttest_indResult(statistic=-7.871663538941468, pvalue=9.081783336892205e-15)
------
writing score
------
Ttest_indResult(statistic=-10.409173436808748, pvalue=3.68529173524572e-24)

The test preparation course has a statistically significant impact on the grade that the student recieves for each test.

4. Which 2 exam scores are most correlated with each other?

In [81]:
df_cpy = pd.DataFrame()

df_cpy[['math score', 'reading score', 'writing score']] = df[['math score', 'reading score', 'writing score']]

df_cpy.corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

The most correlated test scores are between reading and writing.